################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/prod.aps
/RCa00948
/RCb00948
/prod_res.o
/fl-debug.exe
/fl.exe
/FileLauncher.aps
/debug_res.o
/debug.aps
