################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/prod.aps
/RCa00948
/RCb00948
/prod_res.o
/fl-debug.exe
/fl.exe
/FileLauncher.aps
/debug_res.o
/debug.aps
/mxt_debug_res.o
/mxt_prod_res.o
/fl_error.txt
/uafl_error.txt
/uafl-debug.exe
/uafl.exe
/uafl
/uafl_api.o
/program.o
